<!--category-success.vtl-->
<h1>Success!</h1>

Your category has been saved.

<a href="/categories" class="btn">View categories</a>
<a href="/" class="btn btn-info">Home</a>
<!--category-success.vtl-->
