<!--categories.vtl-->
<h1>All categories</h1>
<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>
<a href="/categories/new" class="btn btn-success">Add New Category</a>
<a href="/" class="btn btn-info">Home</a>
<!--categories.vtl-->
